@model Student
@{
    // Layout = null;
    SelectList DeptList = new SelectList(ViewBag.dept, "DeptId", "DeptName");
}


    <h2 class="h2">Add Student</h2>
    <form asp-action="Edit" asp-controller="Student">


        <label class="col-form-label" asp-for="Name">Student Name</label>
        <input class="input-group-text form-control" asp-for="Name" />


        <label class="col-form-label" asp-for="Age">Age</label>
        <input class="input-group-text form-control" asp-for="Age" />


        <label class="col-form-label" asp-for="DepartmentId">Department Name</label>
        @*         <input class="input-group-text form-control" asp-for="DepartmentId" />
        *@
        @* <select asp-for="DepartmentId">
            @foreach (var item in ViewBag.dept)
            {
                <option value="@item.DeptId">@item.DeptName</option>
            }
        </select> *@

        @* another way to use selected List: *@
        <label asp-for="DepartmentId"></label>
\        <select asp-items="DeptList" asp-for="DepartmentId">   </select>
        <button type="submit" value="add" class="btn btn-success">Sumbit</button>
    </form>
