
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StdView</title>
</head>
<body>
    <h2>Student Data</h2>
    <h3>ID: @Model.id  </h3>
    <h3>Name: @Model.name  </h3>
    <h3>Age: @Model.age  </h3>
</body>
</html>
