@model IEnumerable<Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <title>Stident List</title>
</head>
<body>
    <h2>Student List</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    ID
                </th>
                <th scope="col">
                    Student Name
                </th> 
                <th scope="col">
                    Student Age
                </th> 
                <th scope ="col">
                    Student Email
                </th>
            </tr>
        </thead>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Name</td>
                <td>@i.Age</td>
                <td>@i.Name</td>
            </tr>
        }
    </table>

</body>
</html>
